body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8b430c;
}

.container {
    text-align: center;
    background: rgb(227, 61, 77);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background: #007bff;
    color: rgb(239, 244, 241);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #e3dee1;
}
